---
import Header from "@components/Header.astro";
import { Resume } from "@schemas/Resume";
import Skills from "./Skills.astro";
import Summary from "./Summary.astro";
import Work from "./Work.astro";

export type Props = Resume;
const {
  basics: { summary, ...basics },
  skills,
  work,
} = Astro.props as Props;

const summaries = Array.isArray(summary) ? summary : [summary];
---

<main>
  <div class="sticky-header">
    <Header {...basics} />
  </div>

  <div class="sections">
    {summaries.map((summary) => <Summary summary={summary} />)}

    {skills && <Skills skills={skills} />}

    {work && work.map((work) => <Work {...work} />)}
  </div>
</main>

<style>
  .sticky-header {
    position: fixed;
    width: 100%;
  }

  .sections {
    padding: var(--spacing-xxl);
    padding-top: calc(var(--header-height) + var(--spacing-xxl));
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xxl);
  }

  @media only screen and (min-width: 990px) {
    .sections {
      padding: calc(var(--header-height) + var(--spacing-xxl)) 0
        var(--spacing-xxl) 0;
    }
  }
</style>
