---
import Section from "@components/Section.astro";
import { Summary, isSummaryObject } from "@schemas/Resume";

export type Props = { summary: Summary };

const { summary } = Astro.props as Props;

const title = isSummaryObject(summary) ? summary.title : "Summary";
const content = isSummaryObject(summary) ? summary.content : summary;
---

<Section title={title}>
  <pre>{content}</pre>
</Section>

<style>
  pre {
    line-height: 1.3;
    white-space: pre-wrap;
  }
</style>
